@model List<AdminSide.Models.campaign>

@{
    ViewBag.Title = "View Campaigns";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
        <h2>Campaigns (past)</h2>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Type</th>
                        <th>Goal</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Required Amount</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var campaign in Model)
                    {
                        <tr>
                            <td>@campaign.title</td>
                            <td>@campaign.type</td>
                            <td>@campaign.goal</td>
                            <td>@campaign.start_date</td>
                            <td>@campaign.end_date</td>
                            <td>@campaign.requiredAmount</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <a href="/Admin/ViewCampaign" class="link-success">View Live Campaign &lArr;</a>
    </div>

</body>
</html>
